@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: auto;
}

.Center {
  border: 1px solid black;
}

.box{
    border: 1px solid black;
    width: 200px;
    height: 200px;
}


.flexing{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}
.flexing div:hover{
    background-color: aqua;
}